.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(200, 105, 101);
  overflow: hidden;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  height: 50px;
}

.backLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.actionButtonsGroup {
  display: flex;
  align-items: center;
  justify-content: right;
}

.scrollContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.bottomContainer {
  background-color: rgb(200, 105, 101);
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.bottomForm {
  display: flex;
  justify-content: center;
  flex: 1;
}

.input {
  flex: 1;
  background: rgb(169, 80, 76);
  border: none;
  outline: none;
  padding: 0 0 0 10px;
  color: white;
  border-radius: 5px;
  font-size: 16;
}

.input::placeholder {
  color: white;
  opacity: 1;
}
