@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

html,
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  @apply text-black bg-white;
}

/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Disables the NextJS overlay */
/* nextjs-portal {
  display: none !important;
} */
