.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden; /* prevents the whole page from scrolling */
}

.homeScrollContent {
  flex: 1; /* takes all available space */
  overflow-y: auto; /* only section scrollable */
  padding: 0 8px 0 8px;
}

.homeTaskLists {
  list-style: none;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
}

.homeSeparator {
  width: 100%;
  background-color: lightgray;
  height: 1px;
}

.homeBottomBar {
  background-color: white;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.homeCustomListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
