.userHeader {
    background-color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.specialTaskLists {
    padding-top: 55px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
}

.separator {
    width: 100%;
    background-color: lightgray;
    height: 1px;
}

.customTaskLists {
    padding-bottom: 55px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
}

.bottomBar {
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 10px;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 10px;
}