.wrapper {
    background-color: white;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftView {
    display: flex;
    align-items: center;
    gap: 10px;
}

.homeHeaderText {
    font-weight: bold;
    font-size: medium;
}