.wrapper {
    display: flex;
    width: 100%;
    margin: 0;
}

.itemCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin: 1px 8px 1px 8px;
    border-radius: 5px;
}

.leftView {
    display: flex;
}