.taskItemContainer {
  display: flex;
  width: 100%;
  margin: 0;
}

.taskItemCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  margin: 1px 8px 1px 8px;
  border-radius: 5px;
}

.taskItemLeftView {
  display: flex;
  align-items: center;
}
